# Android Studio configuration.
*.iml
.idea/
#
# # Gradle configuration.
.gradle/
build/
#
# # User configuration.
local.properties
#
# # OS configurations.
.DS_Store
#
# # VMD source
app/src/main/vmd
#
# # TCL source
app/src/main/tcl
