# # Configuration files
.*
*.iml

# # Builds
build/
app/src/main/assets/**/vmd
app/src/main/assets/*.dat
app/src/main/assets/*.tcl

# # User configuration.
local.properties

# # VMD, TCL source
app/src/main/vmd
app/src/main/tcl
